

body {
  color: #444;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin:0
}

a {
  text-decoration:none
}

nav {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ddd;

  height: 10%;
}

nav > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding:0;
}




nav p {
  margin: 0;
}

nav li {
  flex: 0 1 auto;
  text-align:center;
  margin: 0;
}


nav li a {
  display: block;
  font-size: 1em;
  padding: 16px 32px;
  text-decoration:none
}

.entirepage {
  height:100vh;
  overflow: visible;
}
html, body {
  height: 100vh;
}
#menu {
  margin-right: auto;
  font-size: 40px;
}

.lotion {
  padding: 0px;
  font-size: 40px;
  margin: 5px;
}

.subtitle {
  padding:0px;
  margin:5px;
  color: gray;
}

#title {
  margin-right: auto;
}


#container {
  display: flex;
  justify-content: center;
  height:89vh;
}

#sidebar {
  flex:3;
  border: 1px solid #eee;
  height: 89vh
  

}
#save {
  padding-top: 28px;
}
#savednotetitle{
  justify-self: left;
}
#savedText {
  padding: 15px;
  width:125%;
}
#sidebarheader {
  border-bottom: 1px solid #eee;
  padding-left: 15px;
  display: flex;
}

#sidebartitle{
  margin-right: 30vh;
}


.ql-toolbar.ql-snow{
  flex:1;
}
.ql-container.ql-snow{
  flex:11;
  height:94%;

}
.ql-container.ql-snow {
  border: 1px solid #ccc !important;
  }


#NoteTitle{
  flex:2;
  padding-left:75px;
}

#NoteTitle > ul {
  display: flex;
  list-style: none;
  padding-left: auto;
  height:95%;
}

#NoteTitle > ul > li {
  padding:5px;
  display: flex;
}

#NoteTitle2{
  flex:2;
}

#NoteTitle2 > ul {
  display: flex;
  list-style: none;
  height:95%;
  padding-inline-start: none !important;
  padding:5px;
}

#NoteTitle2> ul > li {
  display: flex;
}


#savedText{
  border: 1px solid #eee;
  height:100%;
  align-items: center;

}

#datepreview {
  font-size: 0.7em;
  color: gray;
  margin: 0px;
}

.notepreviewtitle {
  padding: 0px;
  margin: 0px;
}
#NotePreview {
  border: 1px solid #eee;
  min-height:10%;
  padding: 10px;

}
#edit {
  padding-top:28px;
  align-items: center;
}

#delete {
  padding-top:28px;
}

#datepicker {
  border: none;
  flex:1;
}
#firstchild {
  margin-right:auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

#textbox {
  width: 90%;
  flex:2;
  border: none;
  font-size: 30px;
}
*:focus {
  outline: none;
}


#quill {
  flex:8;
  display: flex;
}

#sidebarheader > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding:0;
  list-style-type: none;

}

#sidebarheader {
  display: flex;
  justify-content: space-between;
  
}



.quill {
  height:100%
}

.quilljs{
  flex:11;
  width:128%;
}




#content {
  flex: 9;
  padding:0;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.NoteTitle {
  height:20%;
}
.hidden {
  visibility: hidden;
  position: absolute;
}







